body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.main{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.first,.second,.last,.lastsecond{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    width: 100%;
}
.first>div,.second>div,.last>div,.lastsecond>div,.fourth>div,.third>div{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    transition: all 0.5s ease;
}
.first>div:hover img{
    width: 60px;
    height: 60px;

} 
.second>div:hover img{
    width: 60px;
    height: 60px;
    
} 
p{
    display: none;
}
.first>div:nth-child(even),.lastsecond>div:nth-child(even){
    background-color:#B58863;
}
.first>div:nth-child(odd),.lastsecond>div:nth-child(odd){
    background-color: #F0D9B5;
}
.second>div:nth-child(even),.last>div:nth-child(even){
    background-color: #F0D9B5;
}
.second>div:nth-child(odd),.last>div:nth-child(odd){
    background-color:#B58863;
}
.last>div:hover img{
    width: 60px;
    height: 60px;
} 
.lastsecond>div:hover img{
    width: 60px;
    height: 60px;
    
} 






