body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}
.main{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.first,.second,.last,.lastsecond{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    /* width: 55px;
    height: 55px; */
}
div{
    transition: all 0.5s ease;
}
.first>div:hover img{
    padding: 5px;
    outline: 2px solid brown;
    /* width: 60px;
    height: 60px; */

} 
.second>div:hover{
    padding: 5px;
    outline: 2px solid brown;
    
} 
p{
    display: none;
}
.first>div:nth-child(even),.lastsecond>div:nth-child(even){
    background-color:#B58863;
}
.first>div:nth-child(odd),.lastsecond>div:nth-child(odd){
    background-color: #F0D9B5;
}
.second>div:nth-child(even),.last>div:nth-child(even){
    background-color: #F0D9B5;
}
.second>div:nth-child(odd),.last>div:nth-child(odd){
    background-color:#B58863;
}
.last>div:hover{
    padding: 5px;
    outline: 2px solid brown;
} 
.lastsecond>div:hover{
    padding: 5px;
    outline: 2px solid brown;
    
} 
.third{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    /* color: white; */
}

.third>div:nth-child(even){
    background-color:#B58863;
   width: 55px;
    height: 55px;
}
.third>div:nth-child(odd){
     background-color: #F0D9B5;
    width: 55px;
    height: 55px;
}
.fourth>div:nth-child(even){
    background-color: #F0D9B5;
     width: 55px;
    height: 55px;
}
.fourth>div:nth-child(odd){
    background-color:#B58863;
    width: 55px;
    height: 55px;
}
.fourth{
     display: flex;
     flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
}
.third>div:nth-child(even){
    background-color:#B58863;
}
.third>div:nth-child(odd){
    background-color: #F0D9B5;
}
img{
    width: 55px;
    height: 55px;
    
}
